<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbconnector</servlet-name>
        <servlet-class>Database.dbconnector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>onetimeuser</servlet-name>
        <servlet-class>onetimeuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login2</servlet-name>
        <servlet-class>login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userid</servlet-name>
        <servlet-class>Userid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userid1</servlet-name>
        <servlet-class>Userid1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Onetimeuser1</servlet-name>
        <servlet-class>Onetimeuser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tokenid</servlet-name>
        <servlet-class>Tokenid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbconnector</servlet-name>
        <url-pattern>/dbconnector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>onetimeuser</servlet-name>
        <url-pattern>/onetimeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login2</servlet-name>
        <url-pattern>/login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userid</servlet-name>
        <url-pattern>/Userid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userid1</servlet-name>
        <url-pattern>/Userid1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Onetimeuser1</servlet-name>
        <url-pattern>/Onetimeuser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tokenid</servlet-name>
        <url-pattern>/Tokenid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
